* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: border-box;
  }

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: 50px;
}

/* Caption text */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 20px 2px 20px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    animation-timing-function: linear;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}


#navbar {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#logo img {
    width: 80px;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#menuItem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

#menuItem a {
    text-decoration: none;
    color: grey;
}

#menuItem>button {
    background-color: yellow;
    border: none;
    padding: 8px 10px;
    border-radius: 12px;
}

#exploreProgram {
    display: none;
}

.slider-container {
    overflow: hidden;
    height: 800px;
    width: 1200px;
    margin-left: 360px;
    margin-top: 20x;
}

@-webkit-keyframes slide_animation {
    0% {
        left: 0px
    }

    10% {
        left: 0px
    }

    20% {
        left: 1200px
    }

    30% {
        left: 1200px
    }

    40% {
        left: 2400px
    }

    50% {
        left: 2400px
    }

    60% {
        left: 1200px
    }

    70% {
        left: 1200px
    }

    80% {
        left: 0px
    }

    90% {
        left: 0px
    }

    100% {
        left: 0px
    }
}

.slide-image {
    width: 6000px;
    height: 800px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide-animation;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

.image-container {
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
}

footer {
    background-color: rgb(12, 34, 67);
    color: white;
    display: flex;
    padding-top: 3rem;
    justify-content: center;
    padding-bottom: 3rem;
    align-items: center;
}

footer>h4 {
    color: white;
    font-size: 18px;
    margin-bottom: 1rem;
}

footer>ul {
    list-style: none;
    padding-left: 0;
}

footer>ul>li {
    margin-bottom: 0.5rem;
}

footer>a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}
.box{
    margin: 0px 0px 100px 80px;

}
.box>p {
    font-size: 40px;
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.c-copy_right {
    margin-top: 2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 0px 300px 50px 300px;
}

.card {
    width: 302.4px;
    height: 80px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px -4px 8px rgba(0, 0, 0, 0.1), 4px 0px 8px rgba(0, 0, 0, 0.1);
    /* Add shadows on top, bottom, and right */
}

.card img {
    width: 80px;
    /* Adjust as per your requirement */
    height: 80px;
    /* Adjust as per your requirement */
    object-fit: cover;
}

.text {
    padding: 10px;
}

.text-line {
    display: flex;
    justify-content: space-between;
    margin: 0px 400px 0px 300px;
}

.text-line>p {
    font-size: 26px;
}

.text-line>a {
    text-decoration: none;
    color: lightseagreen;
    font-size: 26px;
}

.text p {
    margin: 18px;
    font-size: 16px;
}

.top-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.learners{
    margin: 100px 300px;
}